/* Estilo para los menasajes de error*/
.card .error-box,
.card .error-box * {
    background-color: rgba(255, 80, 80, 0.15);
    color: #ff6b6b;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 11px;
    margin-bottom: 12px;
    text-align: center;
}