<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CSI API - Portscan</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/VistasJson.css">
</head>

<body>
    <main class="page columns">

        <header class="page-header">
            <h1 class="page-title">CSI API - Portscan</h1>
            <p class="page-subtitle">Resultado del escaneo de puertos</p>
        </header>

        <section class="result-container">
            <h2>Resultado del escaneo</h2>

            <pre>
{{ result }}
            </pre>

            <div class="back-link">
                <a href="/op_portscan" class="btn-blue">Volver</a>
            </div>
        </section>

    </main>
</body>
</html>
